wlpdata/
**/*.csv
*.annoy
nohup.out
**/*.pkl
**/*.json
**/*.txt
*.pkl
*.json
*.txt
**/*ckpt*
**/*.pdf
**/*.pyc
output/
**/*.zip
**/*.log
*.pkl
**/*.pt
**/*.log
**/*.err
**/*.png
**/*.ann
Materials_data/*
copy_model/logscopy/
copy_model/logsgen/
copy_model/logscopygen/